<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/Style1.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="StyleSheet2.css" />

    <!-- Bootstrap Libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/applicant_info.js"></script>


</head>
<body ng-app="myapp" ng-controller="myCtrl" ng-click="getApplicantInfo('atuljohn')">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="images/Statusphere-logo.png" style="width:100%;" />
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <a href="#"> Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="Product.html">Products</a></li>
                <li><a href="influencer.html">Influencers</a></li>
                <li><a href="influencer-package.html">Influencer-Package</a></li>
                <li class="active"><a href="applicant_list.html">Applicant</a></li>
                <li><a href="notification.html">Notification</a></li>
                <li><a href="password_reset.html">Password Reset</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="logout()" style="color:white"><span class="glyphicon glyphicon-log-out"></span> SignOut</a></li>
            </ul>
        </div>
    </nav>
            <h3 align="center"><b>APPLICANTS INFORMATION</b></h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">


                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                <table >

                                    <tr><td><input type="text"  value="Full Name:" readonly></td>
                                        <td><input type="text" value="{{applicant_info.firstName}}" size="30" readonly></td>
                                    <td rowspan="8"><img src="images/shopping-image.jpg" alt="Mountain View" style="width:200px;height:150px;">   
                                    </td></tr>
                                    <tr><td><input type="text" value="Date of Birth:" readonly> </td>
                                        <td><input type="text" value="{{applicant_info.dob}}" size="30" readonly></td></tr>
                                    <tr><td><input type="text" value="State:" readonly></td>
                                        <td><input type="text" value="{{applicant_info.state}}" size="30" readonly></td></tr>
                                    <tr><td><input type="text" value="Zipcode:" readonly></td>
                                        <td><input type="text" value="{{applicant_info.zipcode}}" size="30" readonly> </td></tr>
                                    <tr><td><input type="text" value="Phone:" readonly></td>
                                        <td><input type="text" value="{{applicant_info.mob}}" size="30" readonly></td></tr>
                                    <tr><td><input type="text" value="Email ID:" readonly></td>
                                        <td><input type="text" value="{{applicant_info.email}}" size="30" readonly></td></tr>
                                    <tr><td><input type="text" value="Instagram ID:" readonly></td>
                                            <td><input type="text" value="{{applicant_info.instagram_url}}" size="30" readonly></td></tr>
                                    <tr><td><input type="text" value="#Instagram Followers:" readonly></td>
                                        <td><input type="text" value="{{applicant_info.followers}}" size="30" readonly></td></tr>
                                    <tr><td><input type="text" value="Snapchat ID:" readonly></td>
                                         <td><input type="text" value="{{applicant_info.snapchat_url}}" size="30" readonly></td></tr>
                                    <tr><td><input type="text" value="Twitter ID:" readonly></td>
                                         <td><input type="text" value="{{applicant_info.twitter_url}}" size="30" readonly></td></tr>
                                    <tr><td><input type="text" value="Youtube Channel:" readonly></td>
                                    <td><input type="text" value="{{applicant_info.youtube_channel}}"" size="30" readonly></td></tr>
                                    <tr><td><input type="text" value="Twitter ID:" readonly></td>
                                        <td><input type="text" value="{{applicant_info.twitter_url}}" size="30" readonly></td></tr>
                                    <tr><td><input type="text" value="Address:" readonly></td>
                                        <td><input type="text" value="{{applicant_info.address}}" size="30" readonly></td></tr>
                                    <tr><td><input type="text" value="Twitter ID:" readonly></td> 
                                        <td><input type="text" value="{{applicant_info.twitter_url}}" size="30" readonly></td></tr>
                                    <tr><td><input type="text" value="Category:" readonly></td>
                                        <td><input type="text" value="{{applicant_info.category}" size="30" readonly></td></tr>
                                </table>
                                <div class="container">

                                    <div class="icon-bar pull-right">
                                        <input type="button" name="btnACCEPT" value="ACCEPT" style="color:blue">
                                        <input type="button" name="btnREJECT" value="REJECT" style="color:red">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div id="bottomdiv">
        <div class="navbar navbar-inverse navbar-static-bottom">
            <div class="container">
                <div class="navbar-text pull-left">
                    <p> Copyright Statusphere</p>
                </div>
                <div class="navbar-text pull-right">
                    <a href="https://www.facebook.com/joinstatus?__hstc=234261505.a570f2de9aba4c2c3b40da55326aa261.1487100475248.1489899396079.1489935179421.18&__hssc=234261505.1.1489935179421&__hsfp=290129038">   <i class="fa fa-facebook-official fa-3x" aria-hidden="false"></i></a>
                    <a href="https://twitter.com/joinstatus?__hstc=234261505.a570f2de9aba4c2c3b40da55326aa261.1487100475248.1489899396079.1489935179421.18&__hssc=234261505.1.1489935179421&__hsfp=290129038">   <i class="fa fa-twitter fa-3x" aria-hidden="false"></i></a>
                    <a href="https://www.instagram.com/statusphere/?__hstc=234261505.a570f2de9aba4c2c3b40da55326aa261.1487100475248.1489899396079.1489935179421.18&__hssc=234261505.1.1489935179421&__hsfp=290129038">   <i class="fa fa-instagram fa-3x" aria-hidden="false"></i></a>
                </div>
            </div>
        </div>
</div>
</body>
</html>
