<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/Style1.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="StyleSheet2.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <!-- Bootstrap Libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/applicant_list.js"></script>
</head>
<body ng-app="reset_pwd_app" ng-controller="reset_pwd_ctrl">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="images/Statusphere-logo.png" style="width:100%;" />
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <a href="#"> Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="Product.html">Products</a></li>
                <li><a href="influencer.html">Influencers</a></li>
                <li><a href="influencer-package.html">Influencer-Package</a></li>
                <li><a href="applicant_list.html">Applicant</a></li>
                <li><a href="notification.html">Notification</a></li>
                <li class="active"><a href="password_reset.html">Password Reset</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="logout()" style="color:white"><span class="glyphicon glyphicon-log-out"></span> SignOut</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">


    <div class="container">
        <div class="row">
            <div id="passwordreset" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Create New Password</div>
                    </div>
                    <div class="panel-body">
                        <form id="signupform" class="form-horizontal" role="form" name="form" novalidate="novalidate" ng-submit="pass_reset.click()">
                            <div class="form-group">
                                <label for="email" class="control-label col-sm-3">Registered email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="pass_reset.email" name="email" placeholder="Please input your registered email" required="required">

                                </div>

                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label col-sm-3">New password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" ng-model="pass_reset.pass" name="password" placeholder="create your new password" required="required">
                                    <span class="help-block" ng-show="form.password.$error.required && form.$submitted" style="color:red;"> Please enter password </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label col-sm-3">Confirm password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" ng-model="pass_reset.pass1" name="password_confirmation" placeholder="confirm your new password" required="required">
                                    <span style="color:red;" class="help-block" ng-show="(!form.password_confirmation.$pristine && form.password.$error.required && !form.password_confirmation.$error.required) || (!form.password_confirmation.$pristine && form.password.$viewValue!==form.password_confirmation.$viewValue) || (!form.password_confirmation.$pristine && !form.password.$error.required && form.password_confirmation.$error.required)"> Password Mismatch</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Button -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button id="btn-signup" type="submit" class="btn btn-success" ng-disabled="form.$invalid">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bottomdiv">
        <div class="navbar navbar-inverse navbar-bottom">
            <div class="container">
                <div class="navbar-text pull-left">
                    <p> Copyright Statusphere</p>
                </div>
                <div class="pull-right">
                    <a href="https://www.facebook.com/joinstatus?__hstc=234261505.a570f2de9aba4c2c3b40da55326aa261.1487100475248.1489899396079.1489935179421.18&__hssc=234261505.1.1489935179421&__hsfp=290129038">   <i class="fa fa-facebook-official fa-3x" aria-hidden="false"></i></a>
                    <a href="https://twitter.com/joinstatus?__hstc=234261505.a570f2de9aba4c2c3b40da55326aa261.1487100475248.1489899396079.1489935179421.18&__hssc=234261505.1.1489935179421&__hsfp=290129038">   <i class="fa fa-twitter fa-3x" aria-hidden="false"></i></a>
                    <a href="https://www.instagram.com/statusphere/?__hstc=234261505.a570f2de9aba4c2c3b40da55326aa261.1487100475248.1489899396079.1489935179421.18&__hssc=234261505.1.1489935179421&__hsfp=290129038">   <i class="fa fa-instagram fa-3x" aria-hidden="false"></i></a>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = angular.module("reset_pwd_app", []);
        app.controller("reset_pwd_ctrl", function ($scope) {
            $scope.pass_reset = {
                click: function () {
                    if ($scope.pass_reset.$invalid || $scope.pass_reset.pass != $scope.pass_reset.pass1)
                        return false;
                    else {
                        /*  var data = $.param({
                              applicant: JSON.stringify({
                                  username: $scope.name,
                                  email: $scope.email,
                                  password: $scope.password,

                              })
                          }); */
                        alert("sucess");
                        /* $http.post("/", data).success(function (response) {
                             console.log('Data posted successfully');
                             alert(response);

                         }); */
                      //  window.location.href = "http://localhost:57257/Profile.html";
                    }
                }
            };
        });
    </script>
    <script src="js/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>
</html>
